.DS_Store
Chat.xcworkspace/xcuserdata/darya.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcuserstate
Chat.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Chat.xcodeproj/xcuserdata/polzovatel.xcuserdatad/xcschemes/xcschememanagement.plist
/Pods
*.xcbkptlist
